@tailwind base;
@tailwind components;
@tailwind utilities;

html,
#root,
body {
  height: 100%;
  overflow: auto;
}

#root {
  display: flex;
  flex-direction: column;
}

body {
  background-color: rgba(180, 188, 204);
}

@media (min-width: 768px) {
  body {
    background: linear-gradient(to right, rgba(180, 188, 204) 75%, #d2d5d8 25%);
    background-repeat: no-repeat;
  }
}

* {
  box-sizing: border-box;
}
